* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	background-color: hsl(204, 43%, 93%);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 16px;
}


h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
	color: hsl(179, 62%, 43%);
}

h2 {
	font-size: 1.56rem;
	font-weight: 400;

}

main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0px;
	width: 50%;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#con-1 {
	background-color: white;
	grid-column: span 2;
	border-top-left-radius: 8px;
	padding: 1rem 1rem 2.5rem 2rem;
}

#number {
	color: grey;
	font-weight: 400;
}

#numberr {
	color: hsl(218, 22%, 67%);
	font-weight: 400;
}



#con-2 {

	background-color: hsl(179, 39%, 45%);
	color: white;
	border-top-left-radius: 8px;
	padding: 1rem 1rem 2rem 2rem;
}


#dollar {
	font-size: 1.56rem;
}

#pMonth {
	color: hsl(218, 22%, 67%);
	font-weight: 400;

}

.divp {
	display: flex;
	align-items: center;
	gap: 1.25rem;
}

#con-3 {

	background-color: hsl(179, 62%, 43%);
	border-bottom-right-radius: 8px;
	padding: 1rem 1rem 2rem 2rem;
	color: white;
}

button {
	background-color: yellowgreen;
	font-size: 1rem;
	font-weight: 700;
	padding: 1rem 6rem 1rem 6rem;
	margin-top: 1rem;
	border: none;
	cursor: pointer;
	opacity: 0.9;
	color: white;
	border-radius: 0.31rem;
}

button:hover {
	background-color: hsl(150, 100, 48);
}

@media (max-width: 700px) {

	main {
		width: 100%;
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: 1fr;
		max-height: 100%;
	}

	#con-1 {
		grid-column: span 1;
	}
}